@import './variables/colors';
@import './mixins/flex';

html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, Helvetica Neue, sans-serif;
    background-color: $bg-color;
}

.flex-row {
    @include flex-row;
}

.flex-column {
    @include flex-column;
}
